<nav style="background-color: #718d97; padding: 0.01%">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/" style="color: white">Home</a>
    </li>
    <li class="breadcrumb-item active" style="color: white">Dashboard</li>
  </ol>
</nav>

<!-- col-lg-3 means in large devices it occupies 3 cols -->
<!-- pb means padding bottom -->
<!-- mx means margin in x direction -->
<!-- class="row" means display flex in row direction and col-x means x cells in coloums -->
<h5>DashBoard</h5>
<div class="row mx-1" style="background-color: #e9e6e6">
  <div class="col-lg-3 pb-3" style="background-color: #e9e6e6">
    <div class="row">
      <div
        class="col-11 text-white text-center mx-auto rounded pt-2 pv-2 font-weight-bold"
        style="
          background-color: #718d97;
          font-family: 'Arial Narrow Bold', sans-serif;
        "
      >
        {{ Designation }}
      </div>
      <div class="col-12 text-center mt-2">
        <img src="assets/user.png" alt="Err!!" width="120px" />
      </div>
      <div
        class="col-12 text-center pt-2 pb-2 font-weight-bold"
        style="font-family: Tahoma, Geneva, Verdana, sans-serif"
      >
        {{ Username }}
      </div>
      <div class="col-12 text-center pt-2 pb-2" style="font-family: Arial">
        TEAM SUMMARY
      </div>
      <div class="col-12 mb-3">
        <ul class="list-group">
          <li
            class="list-group-item d-flex justify-content-between align-items-center"
          >
            NO. OF TEAM MEMBERS
            <span
              class="badge badge-secondary badge-pill"
              style="font-size: 13px; background-color: dimgrey"
              >{{ NoOfTeamMembers }}</span
            >
          </li>
          <li
            class="list-group-item d-flex justify-content-between align-items-center"
          >
            TOTAL COST OF ALL PROJECTS
            <span
              class="badge badge-secondary badge-pill"
              style="font-size: 13px; background-color: dimgrey"
              >${{ TotalCostOfAllProjects }} k</span
            >
          </li>
          <li
            class="list-group-item d-flex justify-content-between align-items-center"
          >
            PENDING TASKS
            <span
              class="badge badge-secondary badge-pill"
              style="font-size: 13px; background-color: dimgrey"
              >{{ PendingTasks }}</span
            >
          </li>
          <li
            class="list-group-item d-flex justify-content-between align-items-center"
          >
            UDC UPCOMING PROJECTS OF
            <span
              class="badge badge-secondary badge-pill"
              style="font-size: 13px; background-color: dimgrey"
              >{{ UpComingProjects }}</span
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="col-12 text-center pt-2 pb-2" style="font-family: Arial Narrow">
      CLIENTS
    </div>
    <div class="col-12">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">ABC Infotech Ltd.</li>
        <li class="list-group-item">GHI Industries</li>
        <li class="list-group-item">DEF Software Solutions</li>
      </ul>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="row">
      <div class="col-12 pt-0 pb-2" style="background-color: #e9e6e6">
        <div class="row mt-3">
          <div class="col-6 p-2">
            <div class="dropdown">
              <button
                class="btn btn-secondary dropdown-toggle"
                type="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Project A
              </button>
              <ul class="dropdown-menu dropdown-menu-dark">
                <li><a class="dropdown-item active" href="#">Project A</a></li>
                <li><a class="dropdown-item" href="#">Project B</a></li>
                <li><a class="dropdown-item" href="#">Project C</a></li>
                <li><a class="dropdown-item" href="#">Project D</a></li>
              </ul>
            </div>
          </div>
          <div class="col-6 p-2">
            <div class="dropdown">
              <button
                class="btn btn-secondary dropdown-toggle"
                type="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                2019
              </button>
              <ul class="dropdown-menu dropdown-menu-dark">
                <li><a class="dropdown-item active" href="#">2019</a></li>
                <li><a class="dropdown-item" href="#">2018</a></li>
                <li><a class="dropdown-item" href="#">2017</a></li>
                <li><a class="dropdown-item" href="#">2016</a></li>
              </ul>
            </div>
          </div>
          <div
            class="col-12 mx-auto mt-1 text-white text-center pt-2 pb-2 mx-auto rounded font-weight-bold"
            style="background-color: #718d97; font-family: Arial Narrow"
          >
            PROJECT BRIEFING
          </div>
          <div class="col-12 p-2">
            <table class="table table-borderless">
              <tr>
                <td>Project Cost</td>
                <td>${{ ProjectCost }}</td>
              </tr>
              <tr>
                <td>Current Expenditure</td>
                <td>${{ CurrentExpenditure }}</td>
              </tr>
              <tr>
                <td>AvailableFunds</td>
                <td>${{ AvailableFunds }}</td>
              </tr>
            </table>
          </div>
          <div
            class="col-12 mx-auto mt-1 text-white text-center pt-2 pb-2 mx-auto rounded font-weight-bold"
            style="background-color: #718d97; font-family: Arial Narrow"
          >
            TEAM MEMBERS SUMMARY
          </div>
          <div class="col-12 p-2">
            <table class="table text-center">
              <tr>
                <th>Region</th>
                <th>Team Members Count</th>
                <th>Temporarily Unavilable Members</th>
              </tr>
              <tr>
                <td>East</td>
                <td>10</td>
                <td>2</td>
              </tr>
              <tr>
                <td>West</td>
                <td>15</td>
                <td>3</td>
              </tr>
              <tr>
                <td>North</td>
                <td>20</td>
                <td>5</td>
              </tr>
              <tr>
                <td>South</td>
                <td>17</td>
                <td>4</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="row">
      <div
        class="col-11 mx-auto mt-1 text-white text-center pt-1 pb-2 mx-2 rounded font-weight-bold"
        style="background-color: #718d97; font-family: Arial Narrow"
      >
        TEAM MEMBERS
      </div>
      <div class="col-lg-12 pt-2 text-center">
        <div class="accordion accordion-flush" id="accordionFlushExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
              <div class="card">
                <div class="card-header bg-secondary" id="card1">
                  <h2 class="mb-0 bg-secondary">
                    <button
                      class="accordion-button collapsed in bg-secondary"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#flush-collapseOne"
                      aria-expanded="false"
                      aria-controls="flush-collapseOne"
                      style="color:white"
                    >
                      East
                    </button>
                  </h2>
                </div>
              </div>
            </h2>
            <div
              id="flush-collapseOne"
              class="accordion-collapse collapse show"
              aria-labelledby="flush-headingOne"
              data-bs-parent="#accordionFlushExample"
            >
              <div class="accordion-body">
                <div class="card-body">
                  <table class="table text-center">
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Status</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1</td>
                        <td>Ford</td>
                        <td><i class="fa fa-phone"></i> Available</td>
                      </tr>
                      <tr>
                        <td>2</td>
                        <td>Miller</td>
                        <td><i class="fa fa-phone"></i> Available</td>
                      </tr>
                      <tr>
                        <td>3</td>
                        <td>Maxwell</td>
                        <td><i class="fa fa-user-times"></i> Busy</td>
                      </tr>
                      <tr>
                        <td>4</td>
                        <td>Warner</td>
                        <td><i class="fa fa-user-times"></i> Busy</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwo">
              <div class="card">
                <div class="card-header bg-secondary" id="card2">
                  <h2 class="mb-0">
                    <button
                      class="accordion-button collapsed bg-secondary"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#flush-collapseTwo"
                      aria-expanded="false"
                      aria-controls="flush-collapseTwo"
                      style="color:white"
                    >
                      North
                    </button>
                  </h2>
                </div>
              </div>
            </h2>
            <div
              id="flush-collapseTwo"
              class="accordion-collapse collapse"
              aria-labelledby="flush-headingTwo"
              data-bs-parent="#accordionFlushExample"
            >
              <div class="accordion-body">
                <div class="card-body">
                  <table class="table text-center">
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Status</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1</td>
                        <td>Ford</td>
                        <td><i class="fa fa-phone"></i> Available</td>
                      </tr>
                      <tr>
                        <td>2</td>
                        <td>Miller</td>
                        <td><i class="fa fa-phone"></i> Available</td>
                      </tr>
                      <tr>
                        <td>3</td>
                        <td>Maxwell</td>
                        <td><i class="fa fa-user-times"></i> Busy</td>
                      </tr>
                      <tr>
                        <td>4</td>
                        <td>Warner</td>
                        <td><i class="fa fa-user-times"></i> Busy</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThree">
              <div class="card">
                <div class="card-header bg-secondary" id="card3">
                  <h2 class="mb-0">
                    <button
                      class="accordion-button collapsed bg-secondary"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#flush-collapseThree"
                      aria-expanded="false"
                      aria-controls="flush-collapseThree"
                      style="color:white"
                    >
                      West
                    </button>
                  </h2>
                </div>
              </div>
            </h2>
            <div
              id="flush-collapseThree"
              class="accordion-collapse collapse"
              aria-labelledby="flush-headingThree"
              data-bs-parent="#accordionFlushExample"
            >
              <div class="accordion-body">
                <div class="card-body">
                  <table class="table text-center">
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Status</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1</td>
                        <td>Ford</td>
                        <td><i class="fa fa-phone"></i> Available</td>
                      </tr>
                      <tr>
                        <td>2</td>
                        <td>Miller</td>
                        <td><i class="fa fa-phone"></i> Available</td>
                      </tr>
                      <tr>
                        <td>3</td>
                        <td>Maxwell</td>
                        <td><i class="fa fa-user-times"></i> Busy</td>
                      </tr>
                      <tr>
                        <td>4</td>
                        <td>Warner</td>
                        <td><i class="fa fa-user-times"></i> Busy</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingFour">
              <div class="card">
                <div class="card-header bg-secondary" id="card4">
                  <h2 class="mb-0">
                    <button
                      class="accordion-button collapsed bg-secondary"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#flush-collapseFour"
                      aria-expanded="false"
                      aria-controls="flush-collapseFour"
                      style="color:white"
                    >
                      South
                    </button>
                  </h2>
                </div>
              </div>
            </h2>
            <div
              id="flush-collapseFour"
              class="accordion-collapse collapse"
              aria-labelledby="flush-headingFour"
              data-bs-parent="#accordionFlushExample"
            >
              <div class="accordion-body">
                <div class="card-body">
                  <table class="table text-center">
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Status</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1</td>
                        <td>Ford</td>
                        <td><i class="fa fa-phone"></i> Available</td>
                      </tr>
                      <tr>
                        <td>2</td>
                        <td>Miller</td>
                        <td><i class="fa fa-phone"></i> Available</td>
                      </tr>
                      <tr>
                        <td>3</td>
                        <td>Maxwell</td>
                        <td><i class="fa fa-user-times"></i> Busy</td>
                      </tr>
                      <tr>
                        <td>4</td>
                        <td>Warner</td>
                        <td><i class="fa fa-user-times"></i> Busy</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
